@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
html{
    font-size: 25px;
}
h1{
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 900;
}
h2{
    font-size: 5rem;
    line-height: 5rem;
}
.title-bottom p{
    font-size: 10rem;
    line-height: 10rem;
    font-weight: 900;
    position: relative;
    top: -5rem;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    padding: 0 20px;
    position: relative;
}
.header-title{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title-top{
    color: #F266CB;
    overflow: hidden;
    background-color: white;
    transition: 1s;
    height: 5rem;
}
.title-bottom{
    overflow: hidden;
    color: #6A32E2;
    background-color: white;
    height: 5rem;
    transition: 1s
}
.header-sub-title{
    width: 100%;
    color: white;
    background-color: #2E292A;
    height: 150px;
    text-align: center;
    padding: 15px 122px;
    
}
.header-title:hover .title-bottom{
    margin-top: 7rem;
}
.Fame{
    font-size: 75px;
}
.Collection{
    font-size: 75px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 1000px;
}
.photo-div1{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 11.png");
    
}
.photo-div2{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 12.png");
    
}
.photo-div3{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 13.png");
    
}
.photo-div4{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 14.png");
    
}
.photo-div5{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 15.png");
    
}
.photo-div6{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 16.png");
    
}
.photo-div7{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 17.png");
    
}
.photo-div8{
    width: 330px;
    height: 479px;
    display: flex;
    align-items: end;
    background-image: url("img/Rectangle\ 18.png");
    
}
.none{
    height: 75%;
    width: 100%;
    background-color: #1C1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.button-div{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 63px;
    width: 90%;
    background-color: #47B198;
}

.Fame-hall{
    max-width: 1440px;
    width: 100%;
    height: 80vh;
    margin: 50px auto;
    padding: 0 20px;
}
.Fame-hall-card{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.Fame-hall-card-item{
    flex-grow: 1;
    height: 432px;
    transition: 3s all ease;
}
.Fame-hall-card-item:hover{
    flex-grow: 2.5;
    height: 5s;
}
.Fame-hall-card-item:first-of-type{
    background: linear-gradient(0deg, rgba(230, 120, 18, 0.49), rgba(230, 120, 18, 0.49)), url("img/Rectangle\ 24.png");
    background-position: center;
}
.Fame-hall-card-item:nth-of-type(2){
    background: linear-gradient(0deg, rgba(39, 177, 221, 0.54), rgba(39, 177, 221, 0.54)), url("img/Rectangle\ 22.png");
    background-position: center;
}
.Fame-hall-card-item:nth-of-type(3){
    background: linear-gradient(0deg, rgba(69, 187, 131, 0.24), rgba(69, 187, 131, 0.24)), url("img/Rectangle\ 26.png");
    background-position: center;
}
.Fame-hall-card-item:nth-of-type(4){
    background: linear-gradient(0deg, rgba(69, 104, 228, 0.53), rgba(69, 104, 228, 0.53)), url("img/Rectangle\ 25.png");
    background-position: center;
}
.Fame-hall-card-item:last-of-type{
    background: linear-gradient(0deg, rgba(238, 184, 45, 0.59), rgba(238, 184, 45, 0.59)), url("img/Rectangle\ 23.png");
    background-position: center;
}
.more{
    width: 100%;
    display: flex;
    justify-content: end;
}